.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.question-card {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.answer-button {
    width: 100%;
    margin-bottom: 10px;
}
.result {
    font-size: 1.2em;
    margin-top: 20px;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
body.dark-mode .game-container {
    background-color: #121212;
}
body.dark-mode .modal-content,
body.dark-mode h2 {
    background-color:transparent;
    color: #ffffff;
}
body.dark-mode .question-card {
    background-color: #262626;
    color: #ffffff;
}

body.dark-mode input,
body.dark-mode textarea {
    border: 1px solid #ced4da;
    background-color: #121212;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* body.dark-mode .modal-content {
    background-color: #121212;
    color: #ffffff;
} */