/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode td,
body.dark-mode .modal-content {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode input,
body.dark-mode textarea {
    border: 1px solid #ced4da;
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .list-group-item {
    background-color: #495057;
    /* Darker list item background */
    color: white;
    /* Light text */
}
.list-group-item {
    background-color: #f7f7f7;
    /* Darker list item background */
    color: #121212;
    /* Light text */
}
.custom-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1050;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
    padding: 100px;
    /* Padding around the modal content */
}

.modal-content {
    background-color: #f8f9fa;
    /* Light background for the modal content */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    padding: 30px;
    /* Increased padding inside the modal */
}

.modal-title {
    font-weight: bold;
    /* Bold title */
    color: #343a40;
    /* Darker title color */
}

.close {
    color: #dc3545;
    /* Close button color */
    float: right;
    /* Float to the right */
    font-size: 28px;
    /* Font size */
    font-weight: bold;
    /* Font weight */
}

.close:hover,
.close:focus {
    color: #c82333;
    /* Change color on hover */
    text-decoration: none;
    /* No underline */
    cursor: pointer;
    /* Pointer cursor */
}

h6 {
    color: #495057;
    /* Darker color for section headers */
}

textarea {
    width: 100%;
    border-radius: 5px;
    /* Rounded corners for textareas */
    border: 1px solid #ced4da;
    /* Light border */
    background-color: #ffffff;
    /* Dark background for textareas */
    color: #121212;
    /* Black text color */
}

textarea:focus {
    border-color: #323232;
    /* Change border color on focus */
    box-shadow: 0 0 0 0.2rem rgba(18, 18, 18, 0.25);
    /* Focus shadow */
}

.modal-footer {
    border-top: none;
    /* Remove border from footer */
}