/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
body.dark-mode td,
body.dark-mode .modal-content {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode input,
body.dark-mode textarea {
    border: 1px solid #ced4da;
    background-color: #121212;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

body {
    padding: 20px;
}
.chart-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}
.sortable {
    cursor: pointer;
}
.sort-icon::after {
    content: '\25B2\25BC';
    font-size: 0.8em;
    margin-left: 5px;
    opacity: 0.3;
}
.sort-asc .sort-icon::after {
    content: '\25B2';
    opacity: 1;
}
.sort-desc .sort-icon::after {
    content: '\25BC';
    opacity: 1;
}