/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
body.dark-mode td,
body.dark-mode .modal-content {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode input,
body.dark-mode textarea {
    border: 1px solid #ced4da;
    background-color: #121212;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}